<section class="container-fluid pt70 sidemenu">
  <div class="headtitle">
    <div class="live-interupt pull-right">
      <button class="btn btn-primary">Live</button>
      <button class="btn btn-primary">Match Interrupt</button>
    </div>
    <h3>
      Edit Match
    </h3>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="content-main">
        <div class="row">
          <div class="col-md-7">
            <uib-tabset active="active">
              <uib-tab index="0" heading="India">
                <form>
                  <div class="pd20">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group1">
                          <label for="">Score</label>
                          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="181" disabled="disabled">
                        </div>
                        <div class="form-group1">
                          <label for="">Wickets</label>
                          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="3" disabled="disabled">
                        </div>
                      </div>
                    </div>
                  </diV>
                </form>
                <form>
                  <div class="pd20">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for=""></label>
                          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for=""></label>
                          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="btn-all">
                      <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                  </div>
                </form>
              </uib-tab>
              <uib-tab index="1" heading="Pakistan">Pakistan</uib-tab>
            </uib-tabset>
          </div>
          <div class="col-md-5">
            <div class="panel panel-default">
              <div class="fixtures">
                <div class="country">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="title-country">India</div>
                    </div>
                    <div class="col-md-6">
                      <div class="title-country">Pakistan</div>
                    </div>
                  </div>
                </div>
                <div class="country">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for=""></label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Rates">
                      </div>
                      <div class="form-group">
                        <label for=""></label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Rates">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for=""></label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Rates">
                      </div>
                      <div class="form-group">
                        <label for=""></label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Rates">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
